@font-face {
  font-family: "Open Dyslexic";
  src: url("../assets/fonts/OpenDyslexic-Regular.otf");
}

@font-face {
  font-family: "Open Dyslexic";
  src: url("../assets/fonts/OpenDyslexic-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url("../assets/fonts/OpenDyslexic-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url("../assets/fonts/OpenDyslexic-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Dyslexic Mono";
  src: url("../assets/fonts/OpenDyslexicMono-Regular.otf");
}